<!-- Modal window Begin -->

<section class="modal-window">
    <div class="modal-window-field"></div>
    
    <!-- Review Modal window Begin -->
    <div class="review-modal-window-container">
        <div class="review-modal-window-form">

            <div class="modal-window-button-close">
                <span class="left-side-close-button"></span>
                <span class="right-side-close-button"></span>
            </div>

            <h2 class="review-title">Оставьте ваш отзыв:</h2>
            <div class="review-form">
                <div class="name-review-form element-review-form">
                    <div class="left-side-review-form">
                        <span>Ваше имя:</span>
                    </div>
                    <div class="right-side-review-form">
                        <input type="text">
                    </div>
                </div>
                <div class="email-review-form element-review-form">
                    <div class="left-side-review-form">
                        <span>Ваш email:</span>
                    </div>
                    <div class="right-side-review-form">
                        <input type="text">
                    </div>
                </div>
                <div class="product-review-form element-review-form">

                </div>

                <div class="submit-review-form"></div>
            </div>
        </div>
    </div>
    <!-- Review Modal window Close -->
</section>

<!-- Modal window Close -->

<!-- Modal Message Begin -->
    <div class="modal-messages-container">
    </div>

<!-- Modal Message Close -->


<section class="main-nav_Header">
    <div class="main-nav-container">
        <div class="custom-burger-menu">
            <span class="top-line"></span>
            <span class="middle-line"></span>
            <span class="bottom-line"></span>
        </div>
        <div class="main-nav-title">
            <div class="left-side-block">
                <div class="phone-contact">+ 375 (33) 375-07-60</div>
            </div>
            <div class="right-side-block">
                <div class="instagram-logo-container">
                    <img src="/assets/images/instagram-logo-outside.png" alt="instagram logo" class="instagram-logo-outside">
                    <img src="/assets/images/instagram-logo-inside.png" alt="instagram logo" class="instagram-logo-inside">
                    <span class="instagram-logo-dot"></span>
                </div>
                <div class="search-logo-container">
                    <img src="/assets/images/search-logo.png" alt="search logo" class="search-logo"> 
                </div>
                <div class="auth-logo-container" routerLink="/admin-panel">
                    <img src="/assets/images/top-user-logo.png" alt="auth logo" class="auth-logo-top"> 
                    <img src="/assets/images/bottom-user-logo.png" alt="auth logo" class="auth-logo-bottom"> 
                </div>
                <div class="basket-logo-container">
                    <img src="/assets/images/basket-logo.png" alt="search logo" class="basket-logo"> 
                </div>
            </div>
        </div>

        <div class="main-nav-menu">
            <div class="left-side-block">
                <img src="/assets/images/Vector.png" alt="brand logo" class="brand-logo"> 
                <p class="title-text">
                    НОВАЯ<br> 
                    СТОЛОВАЯ
                </p>
            </div>
            <div class="right-side-block">
                <div class="menu-list-block">
                    <span class="">МЕНЮ</span>
                    <ul class="list-products">
                        <li>ЗАВТРАКИ</li>
                        <li>ОБЕДЫ</li>
                        <li>ДЕСЕРТЫ</li>
                        <li>ХЛЕБ И ВЫПЕЧКА</li>
                        <li>СОУСЫ И НАМАЗКИ</li>
                        <li>НАПИТКИ</li>
                    </ul>
                </div>
                <div class="shop-list-block">
                    <span>МАГАЗИН</span>
                    <ul class="list-products">
                        <li>ЗАВТРАКИ</li>
                        <li>ОБЕДЫ</li>
                        <li>ДЕСЕРТЫ</li>
                        <li>ХЛЕБ И ВЫПЕЧКА</li>
                        <li>СОУСЫ И НАМАЗКИ</li>
                        <li>НАПИТКИ</li>
                    </ul>
                </div>
                <div>ПОДПИСКА</div>
                <div>ДОСТАВКА</div>
                <div>ПАРТНЕРАМ</div>
                <div>КОНТАКТЫ</div>
            </div>
        </div>
        <div class="mobile-nav-menu">
            <div class="first-level-menu list-menu-products">
                <span class="first-level-menu-elem">МЕНЮ</span>
                <ul class="second-level-menu">
                    <li>ЗАВТРАКИ</li>
                    <li>ОБЕДЫ</li>
                    <li>ДЕСЕРТЫ</li>
                    <li>ХЛЕБ И ВЫПЕЧКА</li>
                    <li>СОУСЫ И НАМАЗКИ</li>
                    <li>НАПИТКИ</li>
                </ul>
            </div>
            <div class="first-level-menu shop-list-products">
                <span class="first-level-menu-elem shop-text-mark">МАГАЗИН</span>
                <ul class="second-level-menu">
                    <li>ЗАВТРАКИ</li>
                    <li>ОБЕДЫ</li>
                    <li>ДЕСЕРТЫ</li>
                    <li>ХЛЕБ И ВЫПЕЧКА</li>
                    <li>СОУСЫ И НАМАЗКИ</li>
                    <li>НАПИТКИ</li>
                </ul>
            </div>
            <div>ПОДПИСКА</div>
            <div>ДОСТАВКА</div>
            <div>ПАРТНЕРАМ</div>
            <div>КОНТАКТЫ</div>
        </div>
    </div>
</section>

<section class="preview-product_Header">
    <div class="preview-product-container">
        <div class="preview-product">
            <p class="title-text">Medium length display headline</p>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
            <a class="button-primary">ПОДРОБНЕЕ</a>
        </div>
    </div>
    <div class="transition-image"></div>
</section>


<router-outlet></router-outlet>


<section class="footer">
    <div class="footer-container">
        <img class="brand-logo" src="/assets/images/white-brand-logo.png" alt="brand logo">
        <div class="footer-menu">
            <a>Меню</a>
            <a>Магазин</a>
            <a>Подписка</a>
            <a>Доставка</a>
            <a>Партнерам</a>
            <a>Контакты</a>
        </div>

        <div class="instagram-logo">
            <img src="/assets/images/white-instagram-logo-outside.png" class="instagram-logo-outside">
            <img src="/assets/images/white-instagram-logo-inside.png" class="instagram-logo-inside">
            <span class="instagram-logo-dot"></span>
        </div>

        <div class="contacts-block">
            <div class="left-side-block">
                <!-- <p>
                    ООО "Метаркоф" УНП 193230335 Зарегистрирован Минским Горисполкомом
                    Регистрационный номер в торговом реестре 353939 от 03.10.2016
                    220025 Есенина 23-1-145
                </p> -->
                <p>
                    ООО "Метаркоф" УНП 193230335 Зарегистрирован Минским Горисполкомом
                </p>
                <p>
                    Регистрационный номер в торговом реестре 353939 от 03.10.2016
                </p>
                <p>
                    220025 Есенина 23-1-145
                </p>
            </div>
            <div class="right-side-block">
                <p>
                    Рейтинг: 4.2 (На основе 19 отзывов) Разработка и продвижение сайта Mediashark.by
                </p>
            </div>
        </div>
    </div> 
</section>


<div class="shadow-block"></div>