<section class="dinners-menu">
    <div class="dinners-menu-container">
        <div class="product-header">ОБЕДЫ</div>
        <div class="about-product">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</div>
        <div class="shedule-days">
            <div class="shedule-days-wrapper">
                <p>ПОНЕДЕЛЬНИК</p>
                <p>ВТОРНИК</p>
                <p>СРЕДА</p>
                <p>ЧЕТВЕРГ</p>
                <p>ПЯТНИЦА</p>
                <p>СУББОТА</p>
                <p>ВОСКРЕСЕНЬЕ</p>
            </div>
        </div>
        <div class="product-card-container">
            <span class="custom-left-arrow"></span>
            <span class="custom-right-arrow"></span>

            <div class="product-card-wrapper">
                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>2.5р</p>
                        </div>
                        <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>2.5р</p>
                        </div>
                        <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>2.5р</p>
                        </div>
                        <!-- <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div> -->
                        <div class="havent-product">
                            <p>Tолько во вторник</p>
                        </div>
                    </div>
                </div>
                
                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>2.5р</p>
                        </div>
                        <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>

<section class="products-range">
    <div class="transition-image-top"></div>
    <div class="products-range-container">
        <div class="product-header">МЕНЮ</div>
        <div class="about-product">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</div>
        <div class="shedule-days">
            <div class="shedule-days-wrapper">
                <p>ДЕСЕРТЫ</p>
                <p>ХЛЕБ И ВЫПЕЧКА</p>
                <p>СОУСЫ И НАМАЗКИ</p>
                <p>НАПИТКИ</p>
                <p>ЗАВТРАКИ</p>
            </div>
        </div>
        <div class="product-card-container">
            <span class="custom-left-arrow"></span>
            <span class="custom-right-arrow"></span>

            <div class="product-card-wrapper">
                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>7.5р</p>
                        </div>
                        <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>7.5р</p>
                        </div>
                        <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>7.5р</p>
                        </div>
                        <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="image-preview">
                        <img src="/assets/images/preview-product.png" alt="dinner">
                    </div>
                    <div class="product-info">
                        <div class="description-product">
                            <p>Морковный крем-суп с имбирем и печеным нутом</p>
                        </div>
                        <div class="cost-product">
                            <p>170г</p>
                            <p>7.5р</p>
                        </div>
                        <div class="payment-product">
                            <div class="quantity-products">
                                <span class="minus-symbol">-</span>
                                <span class="v-model-quantity">1</span>
                                <span class="plus-symbol">+</span>
                            </div>
                            <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transition-image-bottom"></div>
</section>

<section class="about-project">
    <div class="about-project-container">
        <div class="left-side-block">
            <p class="header-text">О ПРОЕКТЕ</p>
            <p class="about-project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
            <a class="button-primary">КАК ДОБРАТЬСЯ</a>
        </div>
        <!-- <div class="right-side-block"> -->
            <img src="/assets/images/about-project-img.png" alt="caffe image" class="right-side-image">
        <!-- </div> -->
    </div>
</section>

<section class="eco-products">
    <div class="transition-image-top"></div>

    <div class="eco-products-container">
        <p class="title-text">ЭКО ПРОДУКТЫ ОТ «ШАНТИ ЛАВКА»</p>

        
        <div class="product-card-container">
            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/nutella-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="new-product">Новинка</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/chocolade-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="hit-product">Хит</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/delished-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="hit-product">Хит</div>
                        <div class="new-product">Новинка</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/delished-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="discount-product">Акция</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/nutella-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="new-product">Новинка</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/chocolade-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="hit-product">Хит</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/delished-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="hit-product">Хит</div>
                        <div class="new-product">Новинка</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-preview">
                    <img src="/assets/images/delished-img.png" alt="dinner">
                    <div class="state-product-container">
                        <div class="discount-product">Акция</div>
                    </div>
                </div>
                <div class="product-info">
                    <div class="description-product">
                        <p>Масло кокосовое</p>
                    </div>
                    <div class="cost-product">
                        <p>170г</p>
                        <p>90р</p>
                    </div>
                    <div class="payment-product">
                        <div class="quantity-products">
                            <span class="minus-symbol">-</span>
                            <span class="v-model-quantity">1</span>
                            <span class="plus-symbol">+</span>
                        </div>
                        <a class="button-primary add-to-basket-butt">В КОРЗИНУ</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <a class="button-primary">ПОСМОТРЕТЬ ВСЕ</a>

    <div class="transition-image-bottom"></div>
</section>

<section class="reviews-clients">
    <div class="reviews-clients-container">
        <p class="header-reviews">ОТЗЫВЫ</p>

        <div class="reviews-block">
            <div class="review-block-slider">
                <div class="review-block-wrapper">
                    <div class="review-block">
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                        <div>
                            <p class="author-review">Алексей</p>
                            <p class="rating">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/passive-rating-img.png">
                            </p>
                        </div>
                    </div>
                    <div class="review-block">
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                        <div>
                            <p class="author-review">Евгения</p>
                            <p class="rating">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/passive-rating-img.png">
                            </p>
                        </div>
                    </div>
                    <div class="review-block">
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                        <div>
                            <p class="author-review">Дмитрий</p>
                            <p class="rating">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/rating-img.png">
                                <img alt="rating image" src="/assets/images/passive-rating-img.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <span class="custom-left-arrow-container">
                <span class="custom-left-arrow"></span>
            </span>
            <span class="custom-right-arrow-container">
                <span class="custom-right-arrow"></span>
            </span>
        </div>

        <p class="buttons-block">
            <a class="button-primary button-write-review">НАПИСАТЬ ОТЗЫВ</a>
            <a class="button">ВСЕ ОТЗЫВЫ</a>
        </p>
    </div> 
</section>