.dn {
    display: none;
}

.cost-product-form, .weight-product-form {
    width: 70px;
}

.cost-product p, .description-product p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
}

/* .create-product-button {
    margin: 0 auto;
    font-size: 18px !important;
} */

.create-button-wrapper {
    margin-top: 10px;
}

.default-size-img {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 270px;
    height: 270px;

    img {
        width: 270px;
        height: 270px;
        object-fit: cover;
    }
}