<form class="admin-panel-content-container" [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <div class="product-form">
        <div class="product-form__header">
            <h2 class="product-form__title">Создать товар</h2>
        </div>
        <div class="body-block">
            <div class="left-side-block">
                
            </div>
            <div class="right-side-block">
                <div class="right-side-block__wrap">
                    <div class="name-product right-side-block__element">
                        <mat-form-field class="name-product__input" appearance="outline">
                            <mat-label>Название продукта</mat-label>
                            <input matInput type="text" maxlength="30" formControlName="name">
                            <mat-icon aria-hidden="false" aria-label="create-icon" matSuffix>create</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="cost-product right-side-block__element">
                        <mat-form-field class="cost-product__input" appearance="outline">
                            <mat-label>Цена:</mat-label>
                            <input matInput type="text" formControlName="cost">
                            <mat-icon aria-hidden="false" aria-label="create-icon" matSuffix>monetization_on</mat-icon>
                        </mat-form-field> 
                    </div>
                    <div class="weight-product right-side-block__element">
                        <mat-form-field class="weight-product__input" appearance="outline">
                            <mat-label>Вес:</mat-label>
                            <input matInput type="text" formControlName="weight">
                            <mat-icon aria-hidden="false" aria-label="create-icon" matSuffix>storefront</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="bonus-items right-side-block__element">
                        <mat-form-field class="bonus-items__input" appearance="outline">
                            <mat-label>Информация о товаре:</mat-label>
                            <mat-select multiple formControlName="bonuses">
                                <mat-option value="Хит" (click)="showBonus('hit')">Хит</mat-option>
                                <mat-option value="Скидка" (click)="showBonus('discount')">Скидка</mat-option>
                                <mat-option value="Новинка" (click)="showBonus('new')">Новинка</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="currency-product right-side-block__element">
                        <mat-form-field class="currency-product__input" appearance="outline">
                            <mat-label>Валюта:</mat-label>
                            <mat-select formControlName="currency">
                                <mat-option value="Доллар">Доллар</mat-option>
                                <mat-option value="Евро">Евро</mat-option>
                                <mat-option value="Рубль">Рубль</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="weight-product right-side-block__element">
                        <mat-form-field class="weight-product__input" appearance="outline">
                            <mat-label>Единица веса:</mat-label>
                            <mat-select formControlName="weightUnit">
                                <mat-option value="Миллиграмм">Миллиграмм</mat-option>
                                <mat-option value="Грамм">Грамм</mat-option>
                                <mat-option value="Килограмм">Килограмм</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="category-product right-side-block__element">
                        <mat-form-field class="category-product__input" appearance="outline">
                            <mat-label>Категория продутка</mat-label>
                            <mat-select multiple formControlName="category">
                                <mat-option value="Завтрак">Завтрак</mat-option>
                                <mat-option value="Обед">Обед</mat-option>
                                <mat-option value="Десерт">Десерт</mat-option>
                                <mat-option value="Хлеб и выпечка">Хлеб и выпечка</mat-option>
                                <mat-option value="Соусы и намазки">Соусы и намазки</mat-option>
                                <mat-option value="Напитки">Напитки</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="chart-days-product right-side-block__element">
                        <mat-form-field class="chart-days-product__input" appearance="outline">
                            <mat-label>График дней</mat-label>
                            <mat-select multiple formControlName="chartDays">
                                <mat-option value="Понедельник">Понедельник</mat-option>
                                <mat-option value="Вторник">Вторник</mat-option>
                                <mat-option value="Среда">Среда</mat-option>
                                <mat-option value="Четверг">Четверг</mat-option>
                                <mat-option value="Пятница">Пятница</mat-option>
                                <mat-option value="Суббота">Суббота</mat-option>
                                <mat-option value="Воскресенье">Воскресенье</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="right-side-block__wrap">
                    
                </div>

                <div class="right-side-block__wrap">
                    <div class="custom-fields-info">
                        <h2 class="text-center">Дополнительная информация:</h2>
                        <div class="description-info">
                            <h3>Описание товара:</h3>
                            <div class="description">
                                <mat-form-field appearance="outline" class="description-product-form">
                                    <mat-label>Ваше описание</mat-label>
                                    <textarea matInput formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="custom-fields-info-container">
                            <h3>Пользовательские поля {{this.formData.controls.length}} / 5 :</h3>
                            <div 
                                class="custom-field" 
                                formArrayName="customFields" 
                                *ngFor="let field of formData['controls']; let i = index;"
                            >
                                <div [formGroupName]='i' class="custom-field-wrapper">
                                    <div class="name-custom-field">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Название поля:</mat-label>
                                            <input matInput formControlName="nameCustomField">
                                            <mat-icon matSuffix>toc</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="value-custom-field">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Значение поля:</mat-label>
                                            <input matInput formControlName="valueCustomField">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="manage-custom-fields">
                            <a mat-raised-button color="primary" (click)="addCustomField()">Добавить поле</a>
                            <a mat-raised-button color="primary" (click)="removeCustomField()">Удалить поле</a>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>